<%- include('../../partials/header.ejs') %>

<div class="container">
    <div class="bg-light">
        <form action="/signup" method="post">
            <div class="row">


                <div class="col-4"></div>
                <div class="col-4">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" name="email"
                               value="<%= values.email ? values.email :'' %>"
                               class="form-control <%= errors.email ? 'is-invalid' : '' %>"
                               id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="invalid-feedback">
                            <%= errors.email %>
                        </div>
                    </div>
                </div>
                <div class="col-4"></div>


                <div class="col-4"></div>
                <div class="col-4">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">User Name</label>
                        <input type="text"
                               class="form-control <%= errors.userName ? 'is-invalid' : '' %>"
                               value="<%= values.userName ? values.userName :'' %>"
                               id="exampleInputEmail1" name="userName" >
                        <div id="emailHelp" class="invalid-feedback">
                            <%= errors.userName %>
                        </div>
                    </div>
                </div>
                <div class="col-4"></div>



                <div class="col-4"></div>
                <div class="col-4">
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" name="password"
                               value="<%= values.password ? values.password :'' %>"
                               class="form-control <%= errors.password ? 'is-invalid' : '' %>"
                               id="exampleInputPassword1">
                        <div id="emailHelp" class="invalid-feedback">
                            <%= errors.password %>
                        </div>
                    </div>
                </div>
                <div class="col-4"></div>


                <div class="col-4"></div>
                <div class="col-4">
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                        <input type="password" name="confirmPassword" class="form-control <%= errors.confirmPassword ? 'is-invalid' : '' %>" id="exampleInputPassword1">
                        <div id="emailHelp" class="invalid-feedback">
                            <%= errors.confirmPassword %>
                        </div>
                    </div>
                </div>
                <div class="col-4"></div>



                <div class="col-4"></div>
                <div class="col-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-4"></div>

                <div class="col-4"></div>
                <div class="col-4 m-3 text-center">
                    <a href="/login" class="">Have an account? Login</a>
                </div>
                <div class="col-4"></div>

            </div>


        </form>


    </div>
</div>


<%- include('../../partials/footer.ejs') %>

</body>
</html>
